<!DOCTYPE html>
<html>
<head>
    <title>Usuario Agregado</title>
    <link rel="stylesheet" type="text/css" href="/css/estilos.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
    <div class="container">
        <h1>Usuario Agregado</h1>
        <p>Nombre: <%= usuario.nombre %></p>
        <p>Celular: <%= usuario.celular %></p>
        <p>Correo: <%= usuario.correo %></p>
        <a href="/">Volver a la lista de usuarios</a>
    </div>
</body>
</html>
